.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  position: absolute;
  top:20%;
  margin: auto;
}
.main_img{
 width:300px;
 
}

.start_btn{
  position: absolute;
  top:65%;
  margin: auto;

}

.start_btn> button{
  display:block;
  width:1000px;
}

.start_btn>button:first-child{
  margin-bottom: 25px;
}