@import './abstracts/variables';
@import './abstracts/font';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: auto;

  .header{
    width: 90%;
    margin-bottom: 50px;
      .main_img{
        width: 400px;
      }

      h1{
        font-family: 'Egyptian Slate Pro';
      }
  }
  
  .start_btn{
    width: 90%;
    
    button{
      width: 80%;
      font-weight: 400;
      font-size: 12px;
      background-color: $goal-btn-gray !important;
      color: $text-black;
  
      &:nth-child(1){
        margin-bottom: 1em;
        color: $text-black !important;
    }
      &:hover{
        box-shadow: none;
      }
    }
  }
}

