.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.header{
  width: 90%;
  margin-bottom: 50px;

}

.main_img{
  width: 400px;
}

.start_btn{
  width: 90%;
}

.start_btn>button{
  width: 80%;
}

.start_btn>button:nth-child(1){
  margin-bottom: 20px;
}
