@charset "UTF-8";
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet';
  src: local(※), url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-ExtraBold.woff2") format("woff2");
  unicode-range: U+0041-005A, U+0061-007A;
  font-weight: 800;
}

body {
  font-family: 'Pretendard','Hahmlet';
}

.yearMM {
  position: relative;
  font-size: 0.875em;
  font-weight: 800;
  top: 35px;
  left: 20px;
}

.MuiPickersStaticWrapper-staticWrapperRoot {
  width: 100%;
  min-width: none !important;
  background-color: #00000000 !important;
}

.MuiPickersStaticWrapper-staticWrapperRoot .MuiPickersToolbar-toolbar {
  display: none;
}

.MuiPickersBasePicker-pickerView {
  width: 310px;
  min-height: 0 !important;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-daysHeader {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-daysHeader span {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 12px;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendar-week {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-transitionContainer p {
  text-align: left;
  padding-left: 26px;
  font-family: 'Pretendard','Hahmlet';
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-iconButton {
  background-color: #00000000;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 -5px;
}

.MuiPickersBasePicker-pickerView .MuiTypography-body1 {
  display: none;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendar-transitionContainer {
  font-family: 'Pretendard';
  min-height: 500px !important;
}

.MuiPickersBasePicker-pickerView .MuiIconButton-root {
  border-radius: 0;
}

.MuiPickersBasePicker-pickerView .MuiPickersDay-daySelected {
  background-color: #00000000;
}

.MuiPickersBasePicker-pickerView .dateTile_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MuiPickersBasePicker-pickerView .MuiPaper-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MuiPickersBasePicker-pickerView .todoDataNum {
  position: relative;
  font-size: 0.6em;
  font-weight: 600;
  text-align: center;
  color: #fff;
  top: -55%;
}

.todo-modal-dayPicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo-modal-dayPicker #dayPicker-label {
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
  font-family: 'Pretendard';
  margin-bottom: 10px;
}

.todo-modal-dayPicker #dayPicker-checkbox-btn-wrap {
  margin-bottom: 20px;
}

.todo-modal-dayPicker #dayPicker-checkbox-btn-wrap .dayPicker-checkbox-btn .dayPicker-checkbox {
  margin-right: 20px;
}

.todo-modal-dayPicker #dayPicker-checkbox-btn-wrap .dayPicker-checkbox-btn span {
  font-size: 14px;
  color: #1c1c1c;
  font-family: 'Pretendard';
}
/*# sourceMappingURL=CalendarBox.css.map */