@import './abstracts/variables';
@import './abstracts/font';

body{
    font-family: 'Pretendard';
  
  }

.goals-list-box{

    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: inherit;

    .goals-list-wrap{
        width: 100%;
        margin: 0 auto;
        
        .goals-list{

            width: 100%;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
            justify-content: space-between;

            .goals-listItem-btn{ //title 개별
                width: fit-content;
                justify-content:start;
                padding: 0.4em 1em;
                border: 1px solid $goal-btn-border-gray;
                border-radius: 8px;
                font-family: inherit;
                font-weight: 900;
                font-size: 14px;
            background-color: $goal-btn-gray;
        }
            .goals-clickToEdit-btn{ //title 삭제
                    font-size: 10px;
                    color: #aaa;
            }
        }

    }
}