
@import './abstracts/variables';
@import './abstracts/font';
@import './abstracts/mixin';

body{
    font-family: 'Pretendard', 'Egyptian Slate Prot';
    .css-1tddgg8-MuiPaper-root-MuiAppBar-root{
        background: $main-navbar-gray;
        box-shadow: none;
        border-bottom: 1px solid #f1f1f1;
    }
    
    .basic_nav_box{
        flex-grow: 1;
        .basic_nav_appbar{
            position: static;
            color: $text-black;
            box-shadow: none;
            background: $bg-white;
    
            .navbar_title{
                color: inherit;
                margin: 0 auto;
                transform: translate(-50%);
                font-family: 'Pretendard';
                font-size: 1em;
                font-weight: 900;
            }
        }
    }
    
}

.snb_wrap{
    padding: 10px 15px 10px 15px;
    //width: 235;


    .snb_user_info_wrap{



        .snb-user-info-box{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .snb-user-info-text{
                justify-content: flex-start;
                p:first-child {
                    justify-content: flex-start;
                    font-family: 'Pretendard';
                    font-weight: 800;
                    font-size: 16px;
                    color:$text-black;
                }
                p:last-child {
                    justify-content: flex-start;
                    font-family: 'Pretendard';
                    font-weight: 300;
                    font-size: 14px;
                    color:gray; 
                    margin-top: -8px;
                }
            }
        }
    }

// hover css 추가 
    .snb_user_follow_info_wrap{
        .snb-follow-box{
            display: flex;
            flex-flow: row nowrap;

            p {
            font-family: 'Pretendard';
            font-weight: 600;
            font-size: 16px;
            color:$text-black;
            }
        }
    }
       

        .snb-goal-title{
            font-family: 'Pretendard';
            font-weight: 600;
            font-size: 16px;
        }
            .snb-title-nav-icon{
                font-weight: 50;
                font-size: 20px;
                color: lightgray;
            }

        .snb-goals-list-box {
        width: fit-content;
        margin: 0px 0 0 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        
            .snb-list-button{
                background-color: $goal-btn-gray;
                border: 1px solid $goal-btn-border-gray;
                border-radius: 5px;
                width: fit-content;
                padding: 4px 2px;
                padding-right: 2px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                line-height: 0;
                min-width:fit-content;
                max-width:fit-content;
                margin-bottom: 12px;
                margin-right: 5px;
               
            
                .snb-goals-list-text{
                    display: block;
                    font-size: 13px;
                    font-family: 'Pretendard';
                    font-weight: 600;
                    //max-width: 200px; 
                    margin: 0 5px; 
                    overflow: hidden;
                   
                    p{
                        max-width: 200px; 
                        display:block; 
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            
            }
        }
        .snb-goals-null-text{
            font-family: 'Pretendard';
            font-weight: 200;
            font-size: 15px;
            color: rgb(140, 139, 139);
            align-items: center;
            padding: 10px 0px 25px 2px;
        }

    .snb-todo-list-box{
        //width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        
        
        .goals-listItem-text-wrap{
            display: flex;
            flex-wrap: wrap;
            flex-flow: row nowrap;
            align-items: center;
            padding: 0px 0px;
            height: 40px;
           

            .todos-list-check-icon{
                color: $text-gray;
            }
            p{
                padding: 0px 5px;
                color: $text-black;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}