
@import './abstracts/variables';
@import './abstracts/font';
@import './abstracts/mixin';

body{
    font-family: 'Pretendard', 'Egyptian Slate Prot';
    .css-1tddgg8-MuiPaper-root-MuiAppBar-root{
        background: $main-navbar-gray;
        box-shadow: none;
        border-bottom: 1px solid #f1f1f1;
    }
    
    .basic_nav_box{
        flex-grow: 1;
        .basic_nav_appbar{
            position: static;
            color: $text-black;
            box-shadow: none;
            background: $bg-white;
    
            .navbar_title{
                color: inherit;
                margin: 0 auto;
                transform: translate(-50%);
                font-family: 'Pretendard';
                font-size: 1em;
                font-weight: 900;
            }
        }
    }
    
}

.snb_wrap{
    padding: 10px 15px 10px 15px;
    //width: 235;

        .snb-goal-title{
        font-family: 'Pretendard';
        font-weight: 600;
        font-size: 16px;
        }
            .snb-title-nav-icon{
                font-weight: 50;
                font-size: 20px;
                color: lightgray;
            }
    .snb-goals-list-box {
        width: fit-content;
        margin: 0px 0 0 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        
            .snb-list-button{
                background-color: $goal-btn-gray;
                border: 1px solid $goal-btn-border-gray;
                border-radius: 5px;
                width: fit-content;
                padding: 2px 2px;
                padding-right: 2px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                line-height: 0;
                min-width:fit-content;
                max-width:fit-content;
                margin-bottom: 12px;
                margin-right: 5px;
            
                .snb-goals-list-text{
                    display: block;
                    font-size: 13px;
                    font-family: 'Pretendard';
                    font-weight: 900;
                    max-width: 200px; 
                    margin: 0 10px; 
                    overflow: hidden;
                   
                    p{
                        max-width: 200px; 
                        display:block; 
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: 900;
                    }
                }
            
            }
        }
    

    .snb-todo-list-box{
        width: 100vw;
        font-size: 13px;
        display: flex;
        flex-flow: column nowrap;
        
        .goals-listItem-text-wrap{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .todos-list-check-icon{
                color: $text-gray;
            }
            p{
                padding: 0px 5px;
                color: $text-black;
            }
        }
    }
}