@import './abstracts/variables';
@import './abstracts/font';

.setting-settings-list-wrap{
    display: flex;
    flex-flow: column nowrap;
    //justify-content: space-between;
    padding: 10px 10px 10px 10px ;
    margin: 0 auto;
    width: 80%;

    .setting-list-box{
        display: flex;
        flex-flow: row nowrap;
        //justify-content: space-between;
        align-items: center;
        margin: 10px 0 0 0;
        padding: 0px 0px;

        .setting-list-button{
            padding: 5px 2px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            justify-content: space-between;
            line-height: 0;
            //min-width:fit-content;
            //max-width:fit-content;
            margin-bottom: 10px;
            


            .settings-list-icon{
                font-size: 1.5em;
                color: $text-black;
               
            }

            .settings-list-text{
                display: block;
                font-size: 16px;
                font-family: 'Pretendard';
                //font-weight: 200;
                max-width: 200px; 
                margin: 0 10px; 
                overflow: hidden;
                color: $text-black;
               
                p{
                    max-width: 200px; 
                    display:block; 
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-weight: 300;
                }
            }
            
        }
        .setting-list-arrow{
            color: lightgrey;
            font-size: 17px;
            // opacity -> 
            font-weight: 100;
            justify-content: flex-end
        }
    }
    
}