@import 'variables';


// 믹스인 사용

@mixin scrollbar-default {
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: $text-gray;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: $bg-white;
    }
  }

@mixin font-settting {
  @font-face {
    font-family: 'Pretendard-Thin';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Light';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Medium';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-SemiBold';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Bold';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Black';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hahmlet-ExtraBold';
    src: local(※), url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-ExtraBold.woff2") format("woff2");
    unicode-range: U+0041-005A, U+0061-007A;
    font-weight: 800;
  }
  @font-face {
    font-family: 'Egyptian Slate Pro';
    src: url("http://fonts.cdnfonts.com/css/egyptian-slate-pro");
    unicode-range: U+0041-005A, U+0061-007A;
    font-weight: 800;
  }
}



@mixin todo-list {
  
//todo 개별
.todos-list-wrap{
  width: 100vw;
  .todos-list-box{
      width: 100vw;
      .goals-listItem-text-wrap{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: fit-content;
          .todos-list-check-icon{
              color: $text-gray;
              cursor: pointer;
          }
          .todos-list-input{
              width: fit-content;
              position: relative;
              border: 0;
              border-bottom: 1px solid #00000000;
              box-sizing: border-box;
              outline: none;
              font-size: 14px;
              font-family: 'Pretendard';
              font-weight: 600;
              transform: rotate(0.04deg);
              cursor: pointer;
              padding: 6px 0;
              margin: 5px 5px 5px 15px;

              &::-ms-value{
                  font-size: 14px;
                  font-family: 'Pretendard';
                  font-weight: 600;
                  transform: rotate(0.04deg);
              }

              &:focus-visible{
                  position: relative;
                  border-bottom: 2px solid #000;
                  box-sizing: border-box;
                  outline: none;
                  font-family: 'Pretendard';
                  font-size: 14px;
                  cursor: pointer;
                  padding: 6px 0;
                  margin: 5px 5px 5px 15px;
              }
          }
      }
     
  }
}
}