// 변수 선언
// 색상

$bg-white: #ffffff; // 배경 흰색 (default)
$main-navbar-gray: #fafafa; // main-navbar bg
$goal-btn-gray: #f5f5f5; // main-feed 목표 버튼
$goal-btn-border-gray: #f3f3f3; // main-feed 목표 버튼 테두리

$text-black: #1c1c1c; // 텍스트
$text-gray: #afafaf; // 텍스트
$icon-black: #000000; // 아이콘
$text-point: #21bdbd;

